/* CSS Related Posts */
#virelated-post{background:#333;margin:0 auto 10px;padding:0;text-align:left}#virelated-post h4{background:#03aa6d;position:relative;overflow:hidden;margin:10px 0;font-size:120%;font-weight:700;padding:5px;text-align:left;text-transform:uppercase;transition:all .5s ease-out}#virelated-post h4:after,#virelated-post h4:before{position:absolute;top:51%;overflow:hidden;width:50%;height:2px;background-color:#2b2b2b}#virelated-post h4:before{margin-left:-50%;text-align:right}#virelated-post h4 span{position:relative;display:inline-block;padding:0;margin:0 10px}.relhead{background:#fff;font-size:100%;font-weight:400;line-height:150%;overflow:hidden;padding:5px 0}#virelated-summary .news-text{display:none}ul#virelated-summary{margin:0 0 10px;padding:0}ul#virelated-summary li{float:left;list-style:none;margin:0;padding:0;overflow:hidden;width:25%}ul#virelated-summary li a{display:block}ul#virelated-summary li img{background-color:#fff;width:160px;height:120px;padding-top:5px;opacity:1;margin:0 auto;vertical-align:middle}ul#virelated-summary li img:hover{opacity:.6}ul#virelated-summary li a.relinkjdulx{background-color:#fff;width:157px;height:90px;padding-left:3px;margin-top:5px;margin-bottom:10px;background-image:none;color:#1b1d21;display:block;font-size:14.3px;font-family:Latha,Georgia,Arial,Helvetica,sans-serif;font-weight:400;line-height:1.5em;overflow:hidden;padding:5px 5px 5px 0;text-transform:upper-case}ul#virelated-summary li a.relinkjdulx:hover{color:$(main.color)}

.title-wrap,.posts-title{position:relative;height:25px;background-color:$(main.dark.color);margin-bottom:15px;overflow:hidden;border-bottom:3px solid $(main.color)}.title-wrap h2,.posts-title h2{position:relative;float:left;display:block!important;height:25px;font-family:Latha,Georgia,Arial,Helvetica,sans-serif;font-size:14px;color:#fff;background-color:$(main.color);font-weight:400;text-transform:uppercase;line-height:26px;border:0;padding:0 10px;margin:0}.title-wrap h2 a,.posts-title h2 a{color:#fff}


.abs{margin-right:7px;display:none;}.rb-emailu{width:100%;padding:0px;float:left;font-size:1.4em;font-weight:700;margin-right:10px;color:#686B6C}.rb-emailusubmit{background:#9B9895;cursor:pointer;color:#fff;border:none;padding:6px;text-shadow:0 -1px 1px rgba(0,0,0,.25);-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;font:15px sans-serif}.rb-emailusubmit:hover{background:#E98313}

.ab{text-align:center;display:none}.rb-email{background:url(http://4.bp.blogspot.com/_MbejYjGokMM/TSeZHmWJ6oI/AAAAAAAAALE/93ELYyzmi64/s1600/email.png) 0 12px no-repeat;width:100%;padding:10px 0 0 55px;float:left;font-size:1.4em;text-align:center;font-weight:700;margin:0 0 10px;color:#686B6C}.rb-emailsubmit{background:#9B9895;cursor:pointer;color:#fff;border:none;text-align:center;padding:6px;text-shadow:0 -1px 1px rgba(0,0,0,.25);-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;font:15px sans-serif}.rb-emailsubmit:hover{background:#E98313}.textarea{padding:6px;border-radius:6px;margin:6px 2px;background:#f9f9f9;border:1px solid #ccc;resize:none;text-align:center;box-shadow:inset 1px 1px 1px rgba(0,0,0,.1);-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,.1);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.1);font-size:16px;width:50%;color:#666}

.video-container{position:relative;padding-bottom:68.25%;padding-top:30px;height:0;overflow:hidden;box-shadow:0 0 8px #000;text-align:center;z-index:99}.video-container embed,.video-container iframe,.video-container object{position:absolute;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px #000;text-align:center;z-index:99}

#batta{color:#fff;width:20%;background:#0799f4;display:inline-block;font-size:120%;font-family:Latha,Georgia,Arial,Helvetica,sans-serif;border-radius:3px;text-align:center;box-shadow:0 0 1px #000;padding:4px 0;margin-right:10px}#batta:hover{;background:#ed1e52;color:#fff;box-shadow: 0 0 1px #fff;}

#news-foot{color:#fff;background:#000 0;border-top:margin-bottom:10px;0 solid #acacac;font-family:Latha,Georgia,Arial,Helvetica,sans-serif;font-size:105%;font-weight:600;margin:0 auto;max-width:100%;padding:2px 0;text-align:center;}.news-foot-links.bottomline{color:#fff;font-weight:600;border-bottom:0 solid #aaa;margin-bottom:10px;margin-top:10px;padding-bottom:0;padding:12px}.news-foot-links{padding:2px 0;}.news-foot-links a{background:#0799f4;color:#fff!important;text-transform:uppercase;font-weight:500;border-radius:2px;box-shadow:0 0 1px #000;padding:6px 9px;}.news-foot-links a:hover{background:#ed1e52;color:#fff!important;font-weight:400}

#newse-foot{color:#fff;background:#fff 0;border-top:margin-bottom:10px;0 solid #acacac;font-family:Latha,Georgia,Arial,Helvetica,sans-serif;font-size:105%;font-weight:600;margin:0 auto;max-width:100%;padding:2px 0;text-align:right;}.newse-foot-links.bottomline{color:#fff;font-weight:600;border-bottom:0 solid #aaa;margin-bottom:10px;margin-top:10px;padding-bottom:0;padding:12px}.newse-foot-links{padding:2px 0;}.newse-foot-links a{background:#0799f4;color:#fff!important;text-transform:uppercase;font-weight:500;border-radius:2px;box-shadow:0 0 1px #000;padding:6px 9px;}.newse-foot-links a:hover{background:#ed1e52;color:#fff!important;font-weight:400}

#news-foott{width:100%;color:#00ffcc;text-align:center;background:#000 0;border-top:margin-bottom:0px;0 solid #acacac;font-family:Latha,Georgia,Arial,Helvetica,sans-serif;font-size:105%;font-weight:600;margin:0 auto;max-padding:2px 0;text-align:center;margin:0 auto;}.news-foott-links:hover{color:#00ffcc}.news-foott-links.bottomline{height:100%;max-height:105px;width:100%;max-width:1113px;color:#00ccff;font-weight:600;margin:0 auto;padding-bottom:0;padding-top:8px;padding-bottom:8px;border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #aaa; border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #aaa;}.news-foott-links{padding:2px 0;}.news-foott-links a{color:#fff!important;text-transform:uppercase;font-weight:500;border-radius:2px;box-shadow:0 0 1px #000;padding:2px 2px;margin:0 auto;}.news-foott-links a:hover{color:#00ccff!important;font-weight:400}

#manit{width:100%;max-width:1113px;margin:0 auto;text-align:center;font-size:100%;padding: 3px 0px;background:#000;color:$(main.color)}.manit{font-family:Latha,Georgia,Arial,Helvetica,sans-serif;font-size:18px;color:#fff}.manit a{color:#33ccff;text-shadow:1px 1px 1px #66ffcc }.manit a:hover{color:#fff}
.manita {color:#fff;width:100%;max-width:1113px;text-align:center;}

#LeftFloatAds{
background: #fff;
left: 0px;
position: fixed;
text-align: center;
top: 0px;
}

#RightFloatAds{
background: #fff;
right: -12px;
position: fixed;
text-align: center;
top: 34px;
}

#random-posts img {
    border-radius: 0px;
    float: left;
    margin-right: 5px;
    width: 0px;
    height: 0px;
    background-color: #fff;
    padding: 0px;
    transition: all 0.2s linear 0s;
}
ul#random-posts {
    list-style-type: none;
    padding: 0px;
}

#random-posts a {
    font-size: 15px;
    color:  #000;
    font-family:Latha,Georgia,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    padding: 0px auto 2px;    
}

#random-posts a:hover {
    text-decoration: none;color: #b3b3ff;
}

.random-summary {
    font-size: 0px;
    font-family:Latha,Georgia,Arial,Helvetica,sans-serif;
    background: none;
    padding: 0px;
    margin-right: 8px;
}

#random-posts li {
    margin-bottom: 2px;
    padding: 2px;
}

.adsw {
width: 300px; height: 250px; float:right; padding: 0px 0px 8px 8px;
}

.mbtlist {list-style-type:none;overflow:hidden; padding:10px!important;}
    .mbtlist li {margin:0px auto 20px auto; clear:both; color:#000; font-family:Latha,Georgia,Arial,Helvetica,sans-serif; font-size:13px; }
    .mbtlist i{color:#000; padding-right:4px; }
    .mbtlist .iline{line-height:2em; clear:both; border:1px solid #eee; margin-top:10px; padding: 0px 4px;   font-size: 13px;}
    .mbtlist div span{margin:0 10px 0 0; display:inline-block;}
    .mbtlist span {display:block; margin:5px 0px 0px; padding-right:5px;}
    .mbtlist img {float:left; margin:0px 10px 10px 0px; padding:0px; width:80px; height:70px;  }
    .mbtlist .mbttitle {font-family:Latha,Georgia,Arial,Helvetica,sans-serif; font-size:14.2px; color:#fff; font-weight:500; text-decoration:none;    line-height: 1.4em;}
    .mbtlist .mbttitle:hover, .mbtlist .itotal a:hover  {color:#009933;}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}


#ContactForm1{display: none !important;}
.adright {
 float : right;
 width : 300px; 
margin:5px;

}

.adleft {
 float : left;
 width : 300px;
margin:5px;
}

